## Noah's rug Day 2

### Imports

In [56]:
import sqlite3
import pandas as pd

## Establishing a database connection

In [57]:
DATABASE = "noahs.sqlite"
conn = sqlite3.connect(DATABASE)

## The task

- claim ticket said '2017 JP' 
- Item brought in in the year 2017
- Initials of the contracter are 'JP'

In [60]:
query = """
SELECT *
FROM customers AS c
INNER JOIN orders o ON c.customerid = o.customerid
LEFT OUTER JOIN orders_items oi on oi.orderid = o.orderid
LEFT JOIN products p on p.sku = oi.sku
WHERE strftime("%Y",o.ordered) == '2017'
AND c.name LIKE 'J% P%'
AND p.desc LIKE '%Cleaner%'
;
"""

In [61]:
pd.read_sql(query,conn)

,customerid,name,address,citystatezip,birthdate,phone,timezone,lat,long,orderid,...,total,items,orderid,sku,qty,unit_price,sku,desc,wholesale_cost,dims_cm
0,1475,Joshua Peterson,100-75 148th St,"Jamaica, NY 11435",1947-02-05,332-274-4185,America/New_York,40.70895,-73.80856,7459,...,4.96,,7459,HOM2761,1,1.70,HOM2761,Rug Cleaner,1.43,19.6|11.7|0.2
1,1475,Joshua Peterson,100-75 148th St,"Jamaica, NY 11435",1947-02-05,332-274-4185,America/New_York,40.70895,-73.80856,7783,...,3.98,,7783,HOM2761,2,1.99,HOM2761,Rug Cleaner,1.43,19.6|11.7|0.2
2,1475,Joshua Peterson,100-75 148th St,"Jamaica, NY 11435",1947-02-05,332-274-4185,America/New_York,40.70895,-73.80856,8051,...,3.54,,8051,HOM2761,2,1.77,HOM2761,Rug Cleaner,1.43,19.6|11.7|0.2
3,1475,Joshua Peterson,100-75 148th St,"Jamaica, NY 11435",1947-02-05,332-274-4185,America/New_York,40.70895,-73.80856,8375,...,3.58,,8375,HOM2761,2,1.79,HOM2761,Rug Cleaner,1.43,19.6|11.7|0.2
4,1475,Joshua Peterson,100-75 148th St,"Jamaica, NY 11435",1947-02-05,332-274-4185,America/New_York,40.70895,-73.80856,8663,...,3.36,,8663,HOM2761,2,1.68,HOM2761,Rug Cleaner,1.43,19.6|11.7|0.2